pipeline/PL_PowerBIWorkspaceInfo.json
{
	"name": "PL_PowerBIWorkspaceInfo",
	"properties": {
		"description": "Extract Power BI tenant metadata\n\nCreated by: Just Blindbæk",
		"activities": [
			{
				"name": "Save list of workspaces",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "ADF_PipelineRunID",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "ADF_PipelineTriggerTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_REST_PowerBI1",
						"type": "DatasetReference",
						"parameters": {
							"AdminAPI": "workspaces/modified"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_Generic1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "stgpowerbi",
							"TableName": "ModifiedWorkspaces",
							"DatabaseName": {
								"value": "DWH",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get batches of workspaces",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Save list of workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "WITH [WorkspaceRanked]\nAS\n(\n    SELECT ROW_NUMBER() OVER (PARTITION BY [ADF_PipelineRunID] ORDER BY [Id]) AS [Rank]\n    ,[Id]\n    ,[ADF_PipelineRunID]\n    FROM [stgpowerbi].[ModifiedWorkspaces]\n),\n[WorkspaceBatched]\nAS\n(\n    SELECT ROW_NUMBER() OVER (PARTITION BY([Rank] % 100), [ADF_PipelineRunID] ORDER BY [Rank] ASC) AS [Batch]\n    ,[Id]\n    ,[ADF_PipelineRunID]\n    FROM [WorkspaceRanked]\n)\nSELECT N'{\"workspaces\": [\"' + STRING_AGG([Id], '\", \"') + '\"]}' AS [BodyExpression], [Batch]\nFROM [WorkspaceBatched]\nWHERE ADF_PipelineRunID = '@{pipeline().RunId}'\nGROUP BY [Batch]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_Generic1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "stgpowerbi",
							"TableName": "ModifiedWorkspaces",
							"DatabaseName": {
								"value": "DWH",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get batches of workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get batches of workspaces').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute ScanResult pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_PowerBIWorkspaceInfoScanResult",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Batch": {
										"value": "@item().Batch",
										"type": "Expression"
									},
									"ADF_PipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"ADF_TriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"BodyExpression": {
										"value": "@item().BodyExpression",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"WorkspaceBatches": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-26T12:04:07Z"
	}
}